<!-- <img src="/assets/tank1.png" class="draggablee" id="tank" style="width: 100px;height: 100px;">
<img src="/assets/pipe0.png" class="draggablee" id="pipe" style="width: 100px;height: 100px;">
<img src="/assets/pipe1.png" class="draggablee" id="pipe" style="width: 100px;height: 100px;">
<img src="/assets/pump.png" class="draggablee" id="pump" style="width: 100px;height: 100px;"> -->

<div class="wrapper">
  <nav id="sidebar">
    <div class="sidebar-header">
      <h3>Bootstrap Sidebar</h3>
    </div>

    <ul class="list-unstyled components">
      <p>Component</p>
      <li class="active">
        <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Tank</a>
        <ul class="collapse list-unstyled" id="homeSubmenu">

            <img src="/assets/tank1.png" class="draggablee" id="tank" style="width: 100px;height: 100px;">

        </ul>
      </li>
      <li>
        <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Pump</a>
        <ul class="collapse list-unstyled" id="pageSubmenu">

          <img src="/assets/pump.png" class="draggablee" id="pump" style="width: 100px;height: 100px;">

        </ul>
      </li>
      <li class="active">
        <a href="#homeSubmenu2" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Pipe</a>
        <ul class="collapse list-unstyled" id="homeSubmenu2">

          <img src="/assets/pipe0.png" class="draggablee" id="pipe" style="width: 100px;height: 100px;">
          <img src="/assets/pipe1.png" class="draggablee" id="pipe" style="width: 100px;height: 100px;">

        </ul>
      </li>
      <li>
        <a href="#pageSubmenu2" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">LED</a>
        <ul class="collapse list-unstyled" id="pageSubmenu2">
          
        </ul>
      </li>

    </ul>

    <button (click)="onSave()">Save</button>

  </nav>

  <div id="content">

    <div #pdfCanvas id="pdfCanvas" class="pdfCanvas">
      <!-- <img src="/assets/pump.png" class="" id="_sdkfsfoksok" style="width: 100px;height: 100px; top:500px, left: 478px" (click)="onGetidd()"> -->
    </div>

    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
      aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Set Address</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form (submit)="onSendAddr(addForm)" #addForm="ngForm">
              <!-- <div class="form-group">
                <label for="recipient-name" class="col-form-label">ID Item:</label>
                <input matInput type="text" [(ngModel)]="idsOBJ" class="form-control" name="idOBJ" id="idOBJ">
              </div> -->
              <div class="form-group">
                <label for="recipient-name" class="col-form-label">WORD Input Open:</label>
                <input matInput type="text" [(ngModel)]="pWordiOpen" class="form-control" name="wordInputOpen" id="wordInput" placeholder="Word Input Open" required>

                <label for="message-text" class="col-form-label">BIT Input Open:</label>
                <input matInput type="text" [(ngModel)]="pBitiOpen" class="form-control" name="bitInputOpen" id="bitInput" placeholder="Bit Input Open" required>
              </div>
              <div class="form-group">
                <label for="recipient-name" class="col-form-label">WORD Input Close:</label>
                <input matInput type="text" [(ngModel)]="pWordiClose" class="form-control" name="wordInputClose" id="wordInput" placeholder="Word Input Close" required>

                <label for="message-text" class="col-form-label">BIT Input Close:</label>
                <input matInput type="text" [(ngModel)]="pBitiClose" class="form-control" name="bitInputClose" id="bitInput" placeholder="Bit Input Close" required>
              </div>
              <button type="submit" class="btn btn-primary">Send message</button>
            </form>
          </div>
          <div class="modal-footer">
            <p>{{ idsOBJ }}</p>
            <!-- <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button> -->
            <button type="button" class="btn btn-success" data-dismiss="modal">On</button>
            <button type="button" class="btn btn-danger" data-dismiss="modal">Off</button>
            <!-- <button type="submit" class="btn btn-primary">Send message</button> -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
