<div id="wrapper">
  <!-- Sidebar -->
  <div id="sidebar-wrapper">
      <ul class="sidebar-nav">
          <ul class="nav nav-pills">
          <li class="sidebar-brand">
              <a>
                  Start Bootstrap
              </a>
              <div class="scrollbar" id="style-1">

                <div class="draggable" cdkDrag ondblclick="dblclickk()"></div>

                <div  class="movetest" id="movetest" style="position: absolute;display: inline-block">
                  <div class="resize-drag" id="dragDiv_1" >
                    <div class="draggable" data-toggle="modal" data-target="#exampleModal"></div>
                  </div>
                  <div class="resize-drag" id="dragDiv_1">
                    <div class="draggable2" ondblclick="dblclickk()"></div>
                  </div>
                </div>
              </div>
          </li>
          </ul>
      </ul>
  </div>
  <!-- /#sidebar-wrapper -->

  <!-- Page Content -->

  <div id="pdfCanvas" class="pdfCanvas" ></div>
  <!-- /#page-content-wrapper -->
</div>

<!-- /#wrapper -->
